{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ funcionario.Nome}} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Informações do Funcionário</h2>
  <p>
    <b>Código: </b>{{ funcionario.CodFunc }}
  </p>
  <p>
    <b>Nome: </b>{{ funcionario.Nome }}
  </p>
  <p>
    <b>Sexo: </b>{{ funcionario.Sexo }}
  </p>
  <p>
    <b>Email: </b>{{ funcionario.Email }} 
  </p>
  <p> <b>Orientador: </b>
      {% if funcionario.Orientador %}
        {{ funcionario.Orientador}} 
      {% else %}
        N/A
      {% endif %}
  </p>
  <p>
    <b>Telefones: </b><ul>
   
    {% for t in telefones %}      
      <li>{{ t.NumTel }}</li>
      
    {% endfor %}
        </ul>

    
  </p>
  <p>
    {% if recintos %} 
    <b>Recintos em que trabalha: </b><ul>
    {% for r in recintos %}      
      <li><a href="/recintos/{{ r.CodRec }}">{{ r.CodRec }}</a>
        {% if r.Nome %}
         ({{ r.Nome }})
        {% else %}
         (S/ nome)
        {% endif %}
      </li>
    {% endfor %}
    
    {% endif %}
  </ul></p>
  
  
{% endblock %}