{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Funcionários{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>Nome</b></th>
    <th><b>Sexo</b></th>
    <th><b>Email</b></th>
    <th><b>Nº de Recintos em que trabalha</b></th>
   </tr>
   
  {% for funcionario in funcionarios %}
    <tr>
      <td><a href="/funcionarios/{{ funcionario.CodFunc}}">{{ funcionario.Nome }}</a></td>
      <td>{{ funcionario.Sexo }}</td>
      <td>{{ funcionario.Email }}</td>
      <td>{{ funcionario.Contagem}}</td>
     
  {% endfor %}
  </table>
{% endblock %}