{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Base de Dados Zoo{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Sobre</h2>
<p>Essa aplicação ilustra o uso da base de dados Zoo, que possui o intuito de retratar os aspectos essenciais de um Jardim Zoológico.<p>

<h2>Estatísticas da BD</h2>
<table>
<tr>
  <th>Itens</th>
  <th>Quantidade</th>
</tr>
<tr>
  <td>Recintos</td>
  <td>{{ stats.recintos }}</td>
</tr>
<tr>
  <td>Animais</td>
  <td>{{ stats.animais }}</td>
</tr>
<tr>
  <td>Funcionários</td>
  <td>{{ stats.funcionarios }}</td>
</tr>
</table>

<h3>Animais</h3>
<p>
   <a href="/animais">Listar todos</a>
</p>
<p>Ver informações do animal:
<form name="aid" action="javascript:window.open('/animais/'+document.forms['aid'].elements['id'].value,'_self')">
   Id do animal:
   <p><input value="1" name="id" type="number" min="1"/>
   <input type="submit" value="ver"/></p>
</form>
</p>
  
<p>Procurar por espécie:
<form name="asearch" action="javascript:window.open('/animais/search/'+document.forms['asearch'].elements['expr'].value,'_self')">
  <p><input name="expr" id="expr" value="Gorila" required/>
  <input type="submit" value="procurar"/></p>
</form>
</p>

<h3>Recintos</h3>
<p>
   <a href="/recintos">Listar todos</a>
</p>
<p>Ver informações do recinto:
<form name="rid" action="javascript:window.open('/recintos/'+document.forms['rid'].elements['id'].value,'_self')">
   Id do recinto:
   <p><input value="1" name="id" type="number" min="1"/><input type="submit" value="ver"/></p>
</form>
</p>
  
<p>Procurar por nome:
  <form name="rsearch" action="javascript:window.open('/recintos/search/'+document.forms['rsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Vale" required/>
    <input type="submit" value="procurar"/>
  </form>
</p>
  
<p>Procurar por espécie que habita:
  <form name="rsearche" action="javascript:window.open('/recintos/searche/'+document.forms['rsearche'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Gorila" required/>
    <input type="submit" value="procurar"/>
  </form>
</p>

<h3>Funcionários</h3>
<p>
   <a href="/funcionarios">Listar todos</a>
</p>

<p>Ver informações do funcionário:
<form name="fid" action="javascript:window.open('/funcionarios/'+document.forms['fid'].elements['id'].value,'_self')">
   Id do funcionário:
   <p><input value="1" name="id" type="number" min="1"/><input type="submit" value="ver"/></p>
</form>
</p>
  
<p>Procurar por nome:
  <form name="fsearch" action="javascript:window.open('/funcionarios/search/'+document.forms['fsearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="João Pedro" required/>
    <input type="submit" value="procurar"/>
  </form>
</p>
{% endblock %}
