{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recintos{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>Nome</b></th>
    <th><b>Tamanho (m)</b></th>
    <th><b>Data da Construção</b></th>
    <th><b>Nº de animais que habita no recinto</b></th>
   </tr>
   
  {% for recinto in recintos %}
    <tr>
      <td>
      {% if recinto.Nome %}
      <a href="/recintos/{{ recinto.CodRec }}">{{ recinto.Nome }}</a>
      {% else %}
      <a href="/recintos/{{ recinto.CodRec }}">N/A</a>
      {% endif %}
      </td>
      <td>{{ recinto.Tamanho }}</td>
      <td>{{ recinto.DataCons }}</td>
      <td> {{ recinto.Contagem}}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}